/* Styles */

:root {
    --color-primario: #E6BE8A;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    color: white;
    background-color: var(--color-primario);
    border-radius: 30px;
    padding: 10px 40px;
    border: 1px solid var(--color-primario);
    text-transform: uppercase;
}

.btn:hover {
    color: var(--color-primario);
    background-color: white;
}

.btn-alt {
    color: var(--color-primario);
    background-color: white;
}

.btn-alt:hover {
    color: white;
    background-color: var(--color-primario);
    border: 1px solid white;
}

.btn:focus {
    box-shadow: none;
}

.fancybox-bg {
    background-color: var(--color-primario) !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}


/* Fade in animation */

.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Landpage scroll arrow */

.scroll-down {
    position: absolute;
    bottom: 70px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    z-index: 9;
    left: calc(50% - 15px);
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}


/* Animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}


/* ---------- */


/* COVER */

section.cover {
    height: 100vh;
}


/* ---------- */


/* Counting down */

section.count-down {
    text-align: center;
    padding-top: 25px;
    background-color: var(--color-primario);
    height: 130px;
}

section.count-down p {
    color: white;
    font-size: 20px;
    margin: 0;
}

#reloj {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
}


/* ---------- */


/* CEREMONY AND PARTY */

section.ceremony-party {
    padding: 80px 0 100px;
    background-color: white;
}

section.ceremony-party .columna {
    text-align: center;
    padding: 0 30px;
}

section.ceremony-party .columna h4 {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
}

section.ceremony-party .columna p {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 25px;
}

section.ceremony-party .columna img.icon {
    width: 150px;
}

section.ceremony-party .columna img.anillos {
    width: 200px;
}


/* ---------- */


/* GALERY */

section.galery {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

section.galery h4 {
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

section.galery .item-galery {
    padding: 0 3px;
    margin-bottom: 5px;
}

section.galery .item-galery a img {
    transition: all 0.3s ease-out;
    border-radius: 10px;
}

section.galery .item-galery a:hover img {
    transform: scale(1.1);
    position: relative;
    z-index: 999;
}


/* ---------- */


/* CBU */

section.cbu {
    text-align: center;
    padding: 50px 0;
    background-color: var(--color-primario);
}

section.cbu img.icon {
    width: 150px;
}

section.cbu p {
    color: white;
    font-size: 19px;
    font-weight: 300;
}

#hidden-cbu {
    padding: 25px;
    border-radius: 10px;
}

#hidden-cbu span.title {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: var(--color-primario)
}

#hidden-cbu ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

#hidden-cbu ul li a {
    color: #212529;
}


/* ---------- */


/* CONFIRM ASSISTANCE */

section.confirm-assistance {
    text-align: center;
    padding: 50px 0 100px;
    background-color: white;
}

section.confirm-assistance img.icon {
    width: 150px;
}

section.confirm-assistance h4 {
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

section.confirm-assistance p {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 20px;
}

section.confirm-assistance .btn-alt {
    margin: 10px;
}


/* ---------- */


/* HOSTING */

section.hosting {
    text-align: center;
    padding: 70px 0 70px;
    background-color: #96b184;
}

section.hosting h4 {
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

section.hosting p {
    color: white;
    font-size: 19px;
    font-weight: 300;
}


/* ---------- */


/* INSTAGRAM */

section.instagram {
    text-align: center;
    height: 500px;
}

section.instagram .contenido {
    padding: 50px 10px 100px;
}

section.instagram span.hashtag {
    font-size: 40px;
    font-weight: 400;
    margin-top: 100px;
}

section.instagram .contenido img.icon {
    width: 150px;
}

section.instagram p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}


/* ---------- */


/* SONGS */

section.songs {
    text-align: center;
    padding: 50px 0 50px;
    background-color: white;
}

section.songs h4 {
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

section.songs img.icon {
    width: 150px;
}

section.songs p {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 20px;
}


/* ---------- */


/* PROTOCOLO */

section.protocolo {
    text-align: center;
    padding: 90px 0 90px;
    background-color: var(--color-primario);
}

section.protocolo h4 {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

section.protocolo img.icon {
    width: 150px;
}

section.protocolo p {
    color: white;
    font-size: 17px;
    font-weight: 300;
}


/* ---------- */


/* THANKS */

section.thanks {
    text-align: center;
    padding: 50px 0;
    background-color: #96b184;
}

section.thanks p {
    text-align: center;
    color: white;
    font-size: 19px;
    margin: 0;
    padding: 0;
}


/* ---------- */


/* FOOTER */

section.spacer {
    padding: 30px 0;
}

section.spacer ul li {
    margin: 0 20px;
}

section.spacer ul a {
    text-decoration: underline;
    color: #999;
    font-size: 13px;
}

section.spacer ul a:hover {
    color: #35aa7f
}

section.footer {
    text-align: right;
    padding: 4px;
    background-color: #666;
}

section.footer span {
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

section.footer a {
    color: white;
}


/* ---------- */


/* CONTACTO */

section.contacto {
    padding: 100px 0;
    background-color: white;
}

section.contacto h4 {
    font-weight: 400;
}

section.contacto p {
    font-weight: 300;
}

section.contacto a {
    color: #35aa7f;
}

section.contacto a:hover {
    color: black;
}

section.contacto ul li {
    margin-bottom: 5px;
}

section.contacto ul li i {
    font-size: 18px;
    margin-right: 3px;
}


/* ---------- */


/* Medias queries */

@media (max-width: 760px) {
    .logo-cover img {
        max-width: 80%;
    }
    .logo-cover {
        text-align: center;
    }
    section.ceremony-party .row .columna:nth-child(2) {
        margin-top: 50px;
    }
    section.ceremony-party .row .columna.no-margin-top {
        margin-top: 0;
    }
    section.spacer ul li {
        margin-top: 10px;
    }
}